[submodule "app_backend"]
	path = talk2me_backend
	url = https://github.com/tochibedford/talk2me_backend.git
[submodule "cloud_functions"]
	path = talk4me-func
	url = https://github.com/tochibedford/talk4me-func
[submodule "app_frontend"]
	path = talk2me_frontend_next
	url = https://github.com/tochibedford/talk2me_frontend_next
	branch = main
